{% extends "base.html" %}

{% block title %}О Лиге чемпионов УЕФА{% endblock %}

{% block content %}
<h1>О Лиге чемпионов УЕФА</h1>
<p>Лига чемпионов УЕФА — это ежегодный футбольный турнир, организуемый Союзом европейских футбольных ассоциаций (УЕФА) с 1955 года. В нем участвуют лучшие клубы Европы, и он считается одним из самых престижных клубных турниров в мире.</p>
<p>Турнир начинается с квалификационных раундов, за которыми следует групповой этап. Победители и команды, занявшие вторые места в группах, выходят в плей-офф, который включает в себя стадии 1/8 финала, 1/4 финала, 1/2 финала и финал.</p>
{% endblock %}